$dark-bg: #141418;
$dark-secondary: #1e1e24;
$primary: #6c5ce7;

.sidebar {
  width: 230px;
  height: 100vh;
  padding: 25px;
  background: $dark-bg;
  border-right: 1px solid rgba(255,255,255,0.08);

  h2 {
    color: $primary;
    margin-bottom: 20px;
    font-size: 20px;
  }

  a {
    display: block;
    padding: 12px;
    margin-bottom: 10px;

    background: $dark-secondary;
    border-radius: 8px;
    color: #e7e7e7;

    transition: 0.2s ease;

    &:hover {
      background: lighten($dark-secondary, 8%);
      color: $primary;
    }
  }
}
