h1 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: .5px;
}

.card {
  background: #222;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  margin-bottom: 25px;

  h2 {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 12px;
  }

  p {
    color: #ddd;
    line-height: 1.6;
  }
}

ul {
  margin-left: 20px !important;
  padding-left: 10px !important;
}

.btn-disabled {
  padding: 12px 18px;
  background: #444;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #bbb;
  cursor: not-allowed;
  opacity: 0.6;
  width: 100%;
  text-align: left;
}
